<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">

              <div class="custom-button">
                  <app-custom-button
                          [color]="'primary'"
                          [icon]="'add'"
                          [url]="'/crear-usuario'">
                  </app-custom-button>
              </div>

              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Lista de usuarios</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>
                                  Código
                              </th>
                              <th>
                                  Nombre
                              </th>
                              <th>
                                  Correo
                              </th>
                              <th>
                                  Rol
                              </th>
                              <th>
                                  Estado
                              </th>
                              <th>
                                  Acciones
                              </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let user of users">
                                      <td>
                                          {{user.local.code}}
                                      </td>
                                      <td>
                                          {{user.local.name}}
                                      </td>
                                      <td>
                                          {{user.local.email}}
                                      </td>
                                      <td>
                                          {{user.local.role}}
                                      </td>
                                      <td>
                                          {{user.local.status}}
                                      </td>
                                      <td>
                                          <button mat-fab color="primary" class="pull-left" (click)="editUser(user)">
                                              <mat-icon>edit</mat-icon>
                                          </button>

                                          <button mat-fab color="warn" class="pull-left" (click)="deleteUser(user)">
                                              <mat-icon>delete</mat-icon>
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
