<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">

              <div class="custom-button">
                  <app-custom-button
                          [color]="'primary'"
                          [icon]="'add'"
                          [url]="'/crear-grado'">
                  </app-custom-button>
              </div>

              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Grados</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Código
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Fecha de Creación
                                  </th>
                                  <th>
                                      Acciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let grade of degrees">
                                      <td>
                                          {{grade.code}}
                                      </td>
                                      <td>
                                          {{grade.name}}
                                      </td>
                                      <td>
                                          {{grade.creationDate}}
                                      </td>
                                      <td class="align-self-center">
                                          <button mat-fab class="pull-left" color="primary" (click)="editGrade(grade)">
                                              <mat-icon>edit</mat-icon>
                                          </button>
                                          <button mat-fab class="pull-left" (click)="deleteGrade(grade)">
                                              <mat-icon>delete</mat-icon>
                                          </button>

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
